.center {
  text-align: center;
  margin: 2rem 0;
}

.cronograma-content {
  margin: 2rem 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title-content {
  font-size: 24px;
  font-weight: 300;
}

.title-content b {
  text-decoration: underline;
}

div h2 {
  font-size: 40px;
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .cronograma-content {
    display: inline-block;
  }

  .title-content {
    display: inline-block;
  }
}
