.center {
  text-align: center;
  margin: 2rem 0;
}

.cronograma-content {
  margin: 2rem 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title-content {
  font-size: 24px;
  font-weight: 300;
}

.title-content b {
  text-decoration: underline;
}
